# waf projects
waf-*
waf3-*
.waf-*
.waf3-*
.lock-*
build
resolve_symlinks
resolved_dependencies
pytest_environment_*

# Python
*.pyc
.cache
.tox
pytest_environment_*
pytest_*
virtualenv-*
dist
wurfdocs.egg-info
pip_packages
build_current
.pytest_cache

# Other
.vscode